.card-container {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: 20px 0 0 -165px;
  // background: red;
}


.example-card {
  width: 100%;
  // max-height: 200px;
}

.mat-card-title {
  position: relative;
  left: 70px;
  color: #45A29E
}

.mat-stroked-button {
  position: relative;
  left: 38%;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 1px;
}

mat-card {
  background: #1f2833;
}

.example-header-image {
  background-size: cover;
}

//  form start
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}




.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #45A29E !important;
}

#placeholder {
  color:  white !important;
}

.example-full-width {
  width: 100%;
}


.mat-input-element {
    caret-color: #45A29E;
}

// form end
