
 mat-toolbar-row {
  background: #1F2833;
 }

 .nav-title {
   color: #45A29E;
  //  cursor: pointer;
 }

 span.nav-title-route {
    color: white;
    font-size: 22px;
    // cursor: pointer;
 }
 span.nav-title-fixed {
    color: white;
    font-size: 22px;
    cursor: pointer;
 }

 .logout {
    position: absolute;
    right: 4%;
    transform: rotate(270deg);
    cursor: pointer;
 }

 .login-signup {
  position: absolute;
  right: 4%;
  cursor: pointer;
  font-size: 18px;
 }


