<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="nav-title" >Food Recipes</span>

    <span class="nav-title-fixed" (click)="goToRecipes()" *ngIf="updatedRoute.present == false || updatedRoute.name != null " (click)="goToRecipes()">/Recipes</span>
    <span class="nav-title-route" *ngIf="updatedRoute.present == true">/{{updatedRoute.name | titlecase}}</span>

    <span class="example-spacer"></span>


    <mat-icon class="logout" *ngIf="user?.uid" matTooltip="logout" (click)="logout()">save_alt</mat-icon>
    <span class="login"  *ngIf="user == null" [routerLink]="'/login'" >Login</span>
    <span class="signup"  *ngIf="user == null" [routerLink]="'/signup'">Signup </span>
  </mat-toolbar-row>
</mat-toolbar>
