.example-card {
  max-width: 200px;
  // max-height: 200px;
}

.example-header-image {
  background-size: cover;
}


mat-card-title {
  color: #45A29E;
}


#card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 10%;
}

mat-chip  {
  cursor: pointer;
  // background-color: #4b9199
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #4b9199;
}

mat-card {
  // background:#1F2833;
  background:#1F2833;
}

