.example-card {
  max-width: 200px;
  // max-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5%;
}

.add-card {
  max-width: 200px;
  width: 50%;
  // max-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5%;
  background: #C5C6C7;
  // border:
  border:  1px solid #9abebe;
}



.add-recipe {
  position: relative;
  top: 65px;
  left: 5%;
  font-size: 180px;
  cursor: pointer;
  color: #1f2833;
}

.example-header-image {
  background-size: cover;
}

mat-card-title {
  color: #45a29e;
  width: auto;
  position: absolute;
  letter-spacing: 1px;
  // right: 20%;
}

.menu-icon {
  position: absolute;
  right: 10%;
}

.mat-chip-list-wrapper .mat-standard-chip {
  margin: 0px;
}

.mat-standard-chip {
  right: 2%;
}

.cut-length {
  color: #45a29e;
  width: auto;
  position: absolute;
  left: 20%;
}

#card-container {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-around;
  // margin-top: 1%;
  // margin-bottom: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 12%;
  margin-right: 12%;
}


mat-chip {
  cursor: pointer;
  // background-color: #4b9199
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #4b9199;
}

mat-card {
  // background:#1F2833;
  background: #1f2833;
  margin: 1%;
}
