
<div id="card-container">

  <mat-card class="example-card"  *ngFor="let recipe of allRecipes" (click)="goToRecipies(recipe)" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title [ngClass]="{ 'cut-length': recipe.name.length > 10}">{{recipe.name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://dcassetcdn.com/design_img/1442230/51618/51618_7323624_1442230_c91dc92a_image.jpg" alt="Photo of a Shiba Inu"> -->
  <img mat-card-image src="assets/images/logo.jpg" alt="Photo of a Shiba Inu">
  <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color" >
           {{chip.name}}
      </mat-chip>
    </mat-chip-list>
</mat-card>

</div>
