.example-card {
  max-width: 200px;
  // max-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5%;
}


.content-editable {

}

.mat-form-field {
  width: 100% !important;
}

.add-icon {
  font-size: 21px
}

::placeholder {
  letter-spacing: 1px;
}

.ingredients-list {
  letter-spacing: 1px;
}

.add-text {
  font-size: 15px;
  letter-spacing: 1px;
}

.example-form-field {
  width: 200px;
}


.example-header-image {
  background-size: cover;
}

mat-card-title {
  color: #45a29e;
  width: auto;
  position: absolute;
  letter-spacing: 1px;
  // right: 20%;
}

mat-panel-title {
  color: #45a29e;
  letter-spacing: 1px;
}

.mat-chip-list-wrapper .mat-standard-chip {
  margin: 0px;
}

.mat-standard-chip {
  right: 2%;
}

.cut-length {
  color: #45a29e;
  width: auto;
  position: absolute;
  left: 20%;
}

#card-container {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-around;
  // margin-top: 1%;
  // margin-bottom: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 12%;
  margin-right: 12%;
}


.mat-accordion {
  width: 100%;
}
mat-chip {
  cursor: pointer;
  // background-color: #4b9199
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #4b9199;
}

mat-card {
  // background:#1F2833;
  background: #1f2833;
  margin: 1%;
}

// Mat divider
.mat-divider {
  background-color: #4b9199;
}


// Mat accordion

.mat-expansion-panel {
  background: #1f2833
}


.mat-snack-bar-container {
  color: red !important;
}

snack-bar-container.snack-light {
  background-color: black;
}

.snack-red simple-snack-bar.mat-simple-snackbar {
  // color: map-get($mat-red, 500);
  color: #45a29e
}
